<div class="main-container"  *ngIf="userRole !== 'admin'">
  <app-card-panel></app-card-panel>
  <div class="product-wrapper" *ngIf="dish">
    <div class="product-container">
      <div class="product-img">
        <img src="{{dish.img}}" alt="">
      </div>
      <div class="product-info-container">
        <div class="product-info">
          <h1>{{dish.dishName}}</h1>
          <span class="dish-cost">{{dish.cost}} руб.</span>
          <p>{{dish.description}}</p>
          <div class="counter-wrapper">
            <div class="dish-quantity-title">Количество</div>
            <div class="counter-container">
              <div class="counter-left" (click)="decreaseCounter()" unselectable="on">&#9668;</div>
              <div class="quantity-counter">{{counter}}</div>
              <div class="counter-left" (click)="increaseCounter()" unselectable="on">&#9658;</div>
            </div>
          </div>
          <button (click)="addToCard()" class="pure-material-button-contained">Добавить в корзину</button>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="main-container"  *ngIf="userRole === 'admin'">
  <app-card-panel></app-card-panel>
  <div class="product-wrapper" *ngIf="dish">
    <div class="product-container">
      <div class="product-img group">
        <img src="{{dish.img}}" alt="">
      </div>
      <div class="product-info-container">
        <div class="product-info">
          <div class="group">
              <input [(ngModel)]="dish.img" placeholder="name"/>
              <span class="highlight"></span>
              <span class="bar"></span>
          </div>
          <div class="group">
              <input [(ngModel)]="dish.type" placeholder="name"/>
              <span class="highlight"></span>
              <span class="bar"></span>
          </div>
          <div class="group">
            <input [(ngModel)]="dish.dishName" placeholder="name"/>
            <span class="highlight"></span>
            <span class="bar"></span>
          </div>
          <div class="group">
              <input [(ngModel)]="dish.cost" placeholder="name"/>
              <span class="highlight"></span>
              <span class="bar"></span>
          </div>
          <div class="group">
              <input [(ngModel)]="dish.description" placeholder="name"/>
              <span class="highlight"></span>
              <span class="bar"></span>
          </div>
          <button (click)="updateDish()" type="button" class="pure-material-button-contained">Сохранить изменения</button>
        </div>
      </div>
    </div>
  </div>
</div>