<div class="nav-container">
  <div class="flex">
    <div class="edit-item col-1-4" routerLink="/admin/edit/dish">
      <div class="module item">
        DISHES
      </div>
    </div>
    <div class="edit-item col-1-4" routerLink="/admin/edit/employee">
      <div class="module item">
        EMPLOYEE
      </div>
    </div>
    <div class="edit-item col-1-4" routerLink="/admin/orders">
      <div class="module item">
        ORDERS
      </div>
    </div>
    <div class="edit-item col-1-4" routerLink="/admin/complains">
      <div class="module item">
        COMPLAINS
      </div>
    </div>
  </div>
</div>