<div class="middle-container">
  <div class="product-grid">
    <div class="product-grid-box fadeInDown">
      <li *ngFor="let employees of employees">
        <div class="card" style="width:300px">
          <a routerLink="/details/{{employees.id}}">
            <img class="card-img-top card-img_size" src="{{employees.img}}" alt="Card image" style="width:100%">
          </a>
          <div class="card-body">
            <h4 class="card-title">{{employees.firstName}}  {{employees.secondName}} </h4>
            <p class="card-text">{{employees.descrption}}</p>
            <div сlass="lower-buttons_position">
              <a class="btn btn-primary" routerLink="/details/{{employees.id}}">Подробнее</a>
              <button class="btn btn-danger" (click)="deleteEmployee(employees.id)">Удалить</button>
            </div>
          </div>
        </div>
      </li>
    </div>
  </div>
</div>
<a routerLink="/add">
  Добавить
</a>
<a routerLink="/listofrequests">
  Список запросов
</a>