.nav-container { 
  margin: 0 auto;
  max-width: 1440px
}
.flex {
  display: flex;
  justify-content: space-between
}
.col-1-4 {
  width: 20%;
  height: 60px;
}
.edit-item {
  display: flex;
  justify-content: center;
  margin: 20px;
  align-items: center;
  background-color: grey;
  color: white;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}
.edit-item:hover {
  cursor: pointer;
  background-color: lightgrey;
  color: #777;
}