<app-admin-navigation></app-admin-navigation>
<div class="container">
      <div class="group">      
        <input type="text" #login required>
        <span class="highlight"></span>
        <span class="bar"></span>
        <label>Логин</label>
      </div>
      <div class="group">      
        <input type="password" #password required>
        <span class="highlight"></span>
        <span class="bar"></span>
        <label>Пароль</label>
      </div>
      <div class="group">      
        <input type="text" #firstName required>
        <span class="highlight"></span>
        <span class="bar"></span>
        <label>Имя</label>
      </div>
      <div class="group">      
        <input type="text" #secondName required>
        <span class="highlight"></span>
        <span class="bar"></span>
        <label>Фамилия</label>
      </div>
      <div class="group">      
        <input type="text" #lastName required>
        <span class="highlight"></span>
        <span class="bar"></span>
        <label>Отчество</label>
      </div>
      <div class="group">      
        <input type="text" #birthday required>
        <span class="highlight"></span>
        <span class="bar"></span>
        <label>Дата рождения</label>
      </div>
      <div class="group">      
        <input type="text" #post required>
        <span class="highlight"></span>
        <span class="bar"></span>
        <label>Должность</label>
      </div>
      <div class="group">      
        <input type="text" #position required>
        <span class="highlight"></span>
        <span class="bar"></span>
        <label>Позиция</label>
      </div>
      <div class="group">      
        <input type="text" #salaryRate required>
        <span class="highlight"></span>
        <span class="bar"></span>
        <label>Зарплата (ставка)</label>
      </div>
      <div class="group">      
        <input type="text" #description required>
        <span class="highlight"></span>
        <span class="bar"></span>
        <label>Описание</label>
      </div>
      <div class="group">      
        <input type="text" #img required>
        <span class="highlight"></span>
        <span class="bar"></span>
        <label>Картинка (ссылка)</label>
      </div>
      <button class="button-submit" (click)="addEmployee((login.value),(password.value),(firstName.value),(secondName.value),(lastName.value),(birthday.value),(post.value),(position.value),(salaryRate.value),(description.value),(img.value))">
          Добавить сотрудника
        </button>
</div>
    <!-- (click) passes input value to add() and then clears the input -->
