<app-card-panel></app-card-panel>
<div class="middle-container">
  <div class="product-grid" *ngIf="dishes">
    <div class="product-grid-box fadeInDown">
      <li *ngFor="let dish of dishes">
        <div class="card">
          <a routerLink="/dishDetails/{{dish.id}}">
            <img class="card-img-top card-img_size" src="{{dish.img}}" alt="Card image" style="width:100%">
          </a>
          <div class="card-body">
            <h4 class="card-title">{{dish.dishName}}</h4>
            <p class="card-text">{{dish.cost}} руб.</p>
            <a class="return-prev" routerLink="/dishDetails/{{dish._id}}">Подробнее</a>
          </div>
        </div>
      </li>
    </div>
  </div>
</div>
