.fadeInDown {
    -webkit-animation-name: fadeInDown;
    animation-name: fadeInDown;
    -webkit-animation-duration: 1s;
    animation-duration: 1s;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;
  }
  
  @-webkit-keyframes fadeInDown {
    0% {
      opacity: 0;
      -webkit-transform: translate3d(0, -10%, 0);
      transform: translate3d(0, -10%, 0);
    }
    100% {
      opacity: 1;
      -webkit-transform: none;
      transform: none;
    }
  }
  
  @keyframes fadeInDown {
    0% {
      opacity: 0;
      -webkit-transform: translate3d(0, -10%, 0);
      transform: translate3d(0, -10%, 0);
    }
    100% {
      opacity: 1;
      -webkit-transform: none;
      transform: none;
    }
  }
  
  /* Simple CSS3 Fade-in Animation */
  @-webkit-keyframes fadeIn { from { opacity:0; } to { opacity:1; } }
  @-moz-keyframes fadeIn { from { opacity:0; } to { opacity:1; } }
  @keyframes fadeIn { from { opacity:0; } to { opacity:1; } }
  
  .fadeIn {
    opacity:0;
    -webkit-animation:fadeIn ease-in 1;
    -moz-animation:fadeIn ease-in 1;
    animation:fadeIn ease-in 1;
  
    -webkit-animation-fill-mode:forwards;
    -moz-animation-fill-mode:forwards;
    animation-fill-mode:forwards;
  
    -webkit-animation-duration:1s;
    -moz-animation-duration:1s;
    animation-duration:1s;
  }

li{
    list-style-type: none;
}
a {
    text-decoration: none;
}
.middle-container {
    margin: 0 auto;
    max-width: 1440px;
}
.product-grid > div{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}
.product-grid > div li{
    margin: 0 50px;
    max-width: 300px;
}
@media screen and (max-width: 1440px) {
    .product-grid li {margin: 0 100px};
}
.image-container{
    margin: 0 5px;
}
.image-container img{
    max-width:280px;
}
.item-name{
    padding-left: 30px;
}
.btn-buy-position {
    margin-left: 40px;
    color: white !important;
}
.card {
  margin-bottom: 40px;
}
.card-img_size{
    text-align: center;
    max-height: 300px;
    max-width: 300px;
}
.card a img{ 
    min-height: 190px;
}
.return-prev {
  font-family: 'Roboto', sans-serif;
  font-size: 20px;
  color: #777;
}
.return-prev:hover {
  color: #dc9814;
  cursor: pointer;
}